<%= include_gon %>

<script src="/javascripts/jquery-3.4.1.min.js"></script>
<script src="/javascripts/jquery.cookie.js"></script>
<script src="/javascripts/common.js"></script>
<script src="/javascripts/main.js"></script>
<script src="/javascripts/cart.js"></script>
<link rel="stylesheet" type="text/css" href="/css/index.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">
<link rel="stylesheet" type="text/css" href="/css/cart.css">

<div id="home-header">
    <a href="/"><span id="logo-text">Phone Star</span></a>
    <form method="get", action="/good/search_page">
        <input id="search-words" name="keywords"/>
        <input id="search-btn" class="button" type="submit" value=""/>
    </form>
    <div id="login-reg" class="login-status">
        <a href="/user/login_page"><span id="login-enter" class="enter-text button">sign in</span></a>
        <span class="enter-text item-bar">|</span>
        <a href="/user/register_page"><span id="reg-enter" class="enter-text button">sign up</span></a>
    </div>
    <div id="login-user" class="login-status">
        <a href=""><span id="curuser" class="enter-text button">username</span></a>
        <span class="enter-text item-bar">|</span>
        <a href=""><span id="logout" class="enter-text button">Logout</span></a>
    </div>
    <a href="/cart/cart_page"><div id="cart-icon"></div></a>
    <span id="cart-text">cart</span>
</div>

<div id="cart-main">
    <div id="goods-box">
        <div id="table-header">
            <span class="list-header header-product">product</span>
            <span class="list-header header-col-price">price</span>
            <span class="list-header header-col-num">num</span>
            <span class="list-header header-col-total">total</span>
        </div>
        <div id="empty-cart-info">
            <img src="/images/icons/empty-cart.png" id="empty-cart-icon"/>
            <p id="empty-car-text">Your cart is empty, enjoy your shopping now!</p>
        </div>
        <div id="goods-list">
            <!--
            <p class="cart-good-item" gid=$gid>
                <span class="list-good col-tickbox"><label class="good-tick" tick="no"></label></span>
                <img class="list-good col-cover"/>
                <span class="list-good col-product">iphonefsdfsdf dsfdsfsdfsdfffsdf</span>
                <span class="list-good col-price">¥1524</span>
                <span class="list-good col-num">30</span>
                <span class="list-good col-total">¥4572</span>
            </p>
            -->
        </div>
        <div id="summary">
            <span class="summary-unit">
                <span id="tick-all" class="good-tick" tick="no" gid="all"></span>
            </span>
            <span id="cart-all-text" class="summary-unit">select all</span>
            <span id="cart-delete-text" class="summary-unit button">delete</span>
            <span id="cart-counts-text" class="summary-unit">counts:</span>
            <span id="cart-counts-val" class="summary-unit pink-color">0</span>
            <span id="cart-fee-text" class="summary-unit">total money:</span>
            <span id="cart-fee-symbol" class="summary-unit pink-color">¥</span>
            <span id="cart-fee-val" class="summary-unit pink-color">0</span>
            <span id="cart-commit" class="summary-unit button">commit</span>
        </div>
    </div>
</div>




