<%= include_gon %>

<script src="/javascripts/jquery-3.4.1.min.js"></script>
<script src="/javascripts/jquery.cookie.js"></script>
<script src="/javascripts/common.js"></script>
<script src="/javascripts/main.js"></script>
<script src="/javascripts/glist.js"></script>
<script src="/javascripts/cart.js"></script>
<link rel="stylesheet" type="text/css" href="/css/index.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">
<link rel="stylesheet" type="text/css" href="/css/glist.css">
<link rel="stylesheet" type="text/css" href="/css/cart.css">

<div id="home-header">
    <a href="/"><span id="logo-text">Phone Star</span></a>
    <form method="get", action="/good/search_page">
        <input id="search-words" name="keywords"/>
        <input id="search-btn" class="button" type="submit" value=""/>
    </form>
    <div id="login-reg" class="login-status">
        <a href="/user/login_page"><span id="login-enter" class="enter-text button">sign in</span></a>
        <span class="enter-text item-bar">|</span>
        <a href="/user/register_page"><span id="reg-enter" class="enter-text button">sign up</span></a>
    </div>
    <div id="login-user" class="login-status">
        <a href=""><span id="curuser" class="enter-text button">username</span></a>
        <span class="enter-text item-bar">|</span>
        <span id="logout" class="enter-text button">Logout</span>
    </div>
    <div id="cart-icon" class="button"></div>
    <span id="cart-text">cart</span>
</div>

<div id="cart-main" class="main-box">
    <div class="goods-box">
        <div class="table-header">
            <span class="list-header header-product">product</span>
            <span class="list-header header-col-price">price</span>
            <span class="list-header header-col-num">num</span>
            <span class="list-header header-col-total">total</span>
        </div>
        <div class="empty-goods-info">
            <img src="/images/icons/empty-cart.png" class="empty-goods-icon"/>
            <p class="empty-goods-text">Your cart is empty, enjoy your shopping now!</p>
        </div>
        <div class="goods-list">
            <!--
            <p class="list-good-item" gid=$gid>
                <span class="list-good col-tickbox"><label class="good-tick" tick="no"></label></span>
                <img class="list-good col-cover"/>
                <span class="list-good col-product">iphonefsdfsdf dsfdsfsdfsdfffsdf</span>
                <span class="list-good col-price">¥1524</span>
                <span class="list-good col-num">30</span>
                <span class="list-good col-total">¥4572</span>
            </p>
            -->
        </div>
        <div class="goods-summary">
            <span class="summary-unit">
                <span class="good-tick tick-all goods-tick-all" tick="no" gid="all"></span>
            </span>
            <span class="goods-all-text summary-unit">select all</span>
            <span class="goods-delete-text summary-unit button">delete</span>
            <span class="goods-counts-text summary-unit">counts:</span>
            <span class="goods-counts-val summary-unit pink-color">0</span>
            <span class="goods-fee-text summary-unit">total money:</span>
            <span class="goods-fee-symbol summary-unit pink-color">¥</span>
            <span class="goods-fee-val summary-unit pink-color">0</span>
            <span class="goods-commit summary-unit button">commit</span>
        </div>
    </div>
</div>




