*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-size:18px;
}

body{
    background:rgb(238, 238, 238)
}

.button{
    cursor:pointer;
}

.clear{
    clear:both;
}
a:link{
    text-decoration: none; 
    color: black;
}
a:visited{
    text-decoration: none; 
    color: black;
}
a:hover{
    text-decoration: none; 
    color: black;
}