
<script src="/javascripts/jquery-3.4.1.min.js"></script>
<script src="/javascripts/jquery.cookie.js"></script>
<script src="/javascripts/common.js"></script>
<script src="/javascripts/main.js"></script>
<link rel="stylesheet" type="text/css" href="/css/index.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">

<div id="home-header">
    <a href="/"><span id="logo-text">Phone Star</span></a>
    <form method="get", action="/good/search_page">
        <input id="search-words" name="keywords"/>
        <input id="search-btn" class="button" type="submit" value=""/>
    </form>
    <div id="login-reg" class="login-status">
        <a href="/user/login_page"><span id="login-enter" class="enter-text button">sign in</span></a>
        <span class="enter-text item-bar">|</span>
        <a href="/user/register_page"><span id="reg-enter" class="enter-text button">sign up</span></a>
    </div>
    <div id="login-user" class="login-status">
        <a href=""><span id="curuser" class="enter-text button">username</span></a>
        <span class="enter-text item-bar">|</span>
        <span id="logout" class="enter-text button">Logout</span>
    </div>
    <div id="cart-icon" class="button"></div>
    <span id="cart-text">cart</span>
</div>


<div id="home-main" class="main-box">
Welcome!
</div>

<script>
    $(function(){
        var val = JSON.stringify([{good_id:124574,num:13}, {good_id:744554,num:65}])
        console.log("主页当前的cookie ", document.cookie)
        console.log("用jquery获取的cookie ", $.cookie("zzj"))
        $.cookie("zzj", val, {path:"/"})
        console.log("主页修改后的cookie ", document.cookie)
        console.log("用jquery获取的cookie ", $.cookie("zzj"))
    })

</script>
 


























