<%= render "/home/nav"%>

<div id="home-main" class="main-box">
Welcome!
</div>

<script>
    $(function(){
        var val = JSON.stringify([{good_id:124574,num:13}, {good_id:744554,num:65}])
        console.log("主页当前的cookie ", document.cookie)
        console.log("用jquery获取的cookie ", $.cookie("zzj"))
        $.cookie("zzj", val, {path:"/"})
        console.log("主页修改后的cookie ", document.cookie)
        console.log("用jquery获取的cookie ", $.cookie("zzj"))
    })

</script>
 


























